 body {
 	font-family: 'Roboto', sans-serif;
	color: var(--font-color);
	background-color: var(--background-color) ;
}

 :root {
	--white: #ffffff;
	--black: #000000; 
 	--font-color: #212121; /*var(--font-color)*/
	--accent-color:#2196F3; /*var(--accent-color)*/
	--footer-color:#2F303A; /*var(--footer-color)*/
	--background-color:#E5E5E5; /*var(--background-color)*/
	--link-color:#757575; /*var(--link-color)*/
	--hero-color: #2F303A; /*var(--hero-color)*/
	--button-nonactiv-color:#F5F4FA;
	--footer-link-color: rgba(255, 255, 255, 0.6) /*var(--footer-link-color)*/
}

.header {
	 
}

.logo {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
	letter-spacing: 0.03em;
}

.logo-web {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}

.logo-studio {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--black);
}

.logo-studio-footer{
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--white)
}

.nav {}

.nav-link a {
	color: var(--font-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.nav-link a:hover, .nav-link a:focus {
	color: var(--accent-color) ; 
}
 
.nav-link-studio {}

.nav-link-portfolio {}

.nav-link-contacts {}

.header-link-mail {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--link-color);
}

.header-link-mail:hover, .header-link-mail:focus {
	color: var(--accent-color); 
}

.header-link-tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--link-color);
}

.header-link-tel:hover, .header-link-tel:focus {
	color: var(--accent-color);
}

.hero {
	background-color: var(--hero-color);
}

.hero-title {
	color: var(--white);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.hero-button {
	font-family: inherit;
	font-style: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
  background-color: var(--accent-color);
	color: var(--white);
	
	cursor: pointer;	
}
 
.hero-button:hover, .hero-button:focus{} 

.hang{}

.hang h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.hang p {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--link-color);
}

.activity {}

.activity h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.team {}

.team h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.team h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.03em;
}

.team p {
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	color: var(--link-color);
}

.footer {
	background-color: var(--footer-color);
}

.footer-address-bloc {}

.footer-address {
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--white);
}

.footer-link-mail {
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--footer-link-color);
}

.footer-link-tel {
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--footer-link-color);
}

.portfolio-button-bloc {}

.portfolio-button-whole {
	font-family: inherit;
	font-style: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	background-color: var(--button-nonactiv-color);

	cursor: pointer;
}

.portfolio-button-web {
	font-family: inherit;
	font-style: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	background-color: var(--button-nonactiv-color);
	
	cursor: pointer;
	background-color: var(--button-nonactiv-color);
}

.portfolio-button-app {
	font-family: inherit;
	font-style: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	background-color: var(--button-nonactiv-color);
	
	cursor: pointer;

}

.portfolio-button-design {
	font-family: inherit;
	font-style: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	background-color: var(--button-nonactiv-color);

	cursor: pointer;

}

.portfolio-button-market {
	font-family: inherit;
	font-style: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	background-color: var(--button-nonactiv-color);

	cursor: pointer;
}

.portfolio-button-whole:hover, .portfolio-button-whole:focus {
	background-color: var(--accent-color);
	color: var(--white);
}

.portfolio-button-web:hover, .portfolio-button-web:focus {
	background-color: var(--accent-color);
	color: var(--white);
}


.portfolio-button-app:hover, .portfolio-button-app:focus {
	background-color: var(--accent-color);
	color: var(--white);
}


.portfolio-button-design:hover, .portfolio-button-design:focus {
	background-color: var(--accent-color);
	color: var(--white);
}

.portfolio-button-market:hover, .portfolio-button-market:focus {
	background-color: var(--accent-color);
	color: var(--white);
}


.portfolio-projects-bloc {}

.portfolio-project-item {}

.portfolio-project-item h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 2.0;
	letter-spacing: 0.06em;
	color: var(--font-color);
}

.portfolio-project-item p {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: var(--link-color);
}