.team, .top_menu {display: inline-block;}

.link, .top-contacts {display: inline-block;}

.logo {display: inline-block;}

.spec
 {display: inline-block;
    width: 270px;
 }

/* .button {position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background-color: #2196F3;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

 /* display: flex;*/
/* border-radius: 4px;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;

    } */

.web_logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
    }

.studio_logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #000000;}    

  /*.logo {position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    }  

    .top {position: absolute;
        width: 294px;
        height: 16px;
        left: 453px;
        top: 32px;
        } -->